{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": 2,
    "object-curly-spacing": "off",
    "comma-dangle": "off",
    "max-len": [ "error",
      { "comments": 130 }
    ],
    "arrow-parens": "off"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
